* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    display: flex;
    position: relative;
}

.gate {
    width: 200px;
    height: 100px;
    background-color: aquamarine;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#outputs-con {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgb(240, 73, 73);
    padding: 10px;
}

#inputs-con {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: darkgray;
    padding: 10px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: cornflowerblue;
}

.output {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: blue;
}

.true {
    background: chartreuse;
}

.false {
    background: red;
}

svg {
    position: absolute;
    z-index: -1;
}

#work-area {
    display: flex;
    gap: 50px;
    width: 100%;
    padding: 50px;
}

path {
    fill: none;
    stroke: black;
    stroke-width: 6;
    stroke-linejoin: round;
}