* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
}

.gate {
    width: 200px;
    height: 100px;
    background-color: aquamarine;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.draggable-gate {

}